{% extends "base.html" %}

{% block content %}

<div class="container my-4">

  <div class="row">
    <div class="col">
      <h1 class="text-center mb-3">Liste des joueurs</h1>
    </div>
  </div>

  <div class='row'>
    {% for player in players %}

    <div class="col-12 col-lg-6">

      <div class="card my-3">

          <div class="card-header text-center pt-3">
            <h3>{{ player.nom }}</h3>
          </div>


        <div class="card-body text-center">
  <a href={% url 'get_stats' player.id %}><button type="button" class="btn  btn-success">Voir la fiche joueur</button></a>

        </div>

      </div>

    </div>

    {% endfor %}
  </div>
</div>



{% endblock %}
